{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Historie{% endblock %}
{% block body %}
    <div class="container">
        {% for transaction in pagination %}
            <div class="row">
                <div class="col-xs-5">
                    <h4><span class="glyphicon glyphicon-tag"></span> Buchung #{{ transaction.id }} am {{ transaction.created  | date('d.m.Y H:i:s') }}</h4>

                    <table class="table table-condensed">
                        <tr>
                            <th width="130">Mode</th>
                            <td>{{ transaction.mode }}</td>
                        </tr>
                        <tr>
                            <th>Operator</th>
                            <td>
                                <a href="{{ strichliste }}/#/user/{{ transaction.operatorId }}" target="_blank">
                                    {{ strichlisteUserMapping[transaction.operatorId].name }}
                                </a>

                                (<a href="{{ strichliste }}/api/user/{{ transaction.operatorId }}/transaction/{{ transaction.operatorTransactionId }}"
                                    target="_blank">#{{ transaction.operatorTransactionId }}</a>)
                            </td>
                        </tr>

                        {% if transaction.userId %}
                            <tr>
                                <th>User</th>
                                <td>
                                    <a href="{{ strichliste }}/#/user/{{ transaction.userId }}" target="_blank">
                                        {{ strichlisteUserMapping[transaction.userId].name }}
                                    </a>

                                    (<a href="{{ strichliste }}/api/user/{{ transaction.userId }}/transaction/{{ transaction.userTransactionId }}"
                                       target="_blank">#{{ transaction.userTransactionId }}</a>)
                                </td>
                            </tr>
                        {% endif %}

                        <tr>
                            <th>Dauer</th>
                            <td>{{ transaction.duration | duration }}</td>
                        </tr>

                        <tr>
                            <th>Vorgänge</th>
                            <td>{{ transaction.laserOperations | length }}</td>
                        </tr>

                        {% if transaction.comment %}
                            <tr>
                                <th>Kommentar</th>
                                <td>{{ transaction.comment }}</td>
                            </tr>
                        {% endif %}
                    </table>
                </div>
                <div class="col-xs-7">

                    <table class="table table-condensed table-striped" style="margin-top: 11px">
                        <thead>
                            <tr>
                                <th>Erfasst am</th>
                                <th>Dauer</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for laserOperation in transaction.laserOperations %}
                            <tr>
                                <td>{{ laserOperation.created | date('d.m.Y H:i:s') }}</td>
                                <td>{{ laserOperation.duration | duration }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                {% if not loop.last %}
                    <div class="col-xs-12">
                        <hr>
                    </div>
                {% endif %}

            </div>
        {% else %}
            <div class="alert alert-info" role="alert">
                Aktuell sind keine Buchungen vorhanden
            </div>
        {% endfor %}

        {{ knp_pagination_render(pagination) }}
    </div>
{% endblock %}