{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Buchung{% endblock %}
{% block body %}
    <div class="container">

        <div class="row">
            {% for type, messages in app.session.flashbag.all %}
                {% for message in messages %}
                    <div class="alert alert-{{ type }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            <form class="form-horizontal" action="/charge" method="GET">
                <div class="col-xs-6">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Erfasst am</th>
                                <th class="text-right">Dauer</th>
                                <th class="text-right" width="42">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for laserOperation in laserOperations %}
                                <tr class="laser-operation">
                                    <td>{{ laserOperation.created | date('d.m.Y H:i:s') }}</td>
                                    <td class="text-right">{{ laserOperation.duration | duration }}</td>
                                    <td class="text-right">
                                        <input type="checkbox"
                                               name="laserOperations[]"
                                               data-duration="{{ laserOperation.duration }}"
                                               value="{{ laserOperation.id }}">
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td></td>
                                <td class="text-right duration-sum">
                                    <strong style="font-size: 18px">–</strong>
                                </td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

                <div class="col-xs-6">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Modus</label>
                        <div class="col-sm-10">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="mode" value="operator" checked>
                                    Ich bin Operator
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="mode" value="user">
                                    Ich bin kein Operator
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="mode" value="external">
                                    Extern
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group user visibility-helper hidden" data-visible-on="user">
                        <label for="userId" class="col-sm-2 control-label">Benutzer</label>
                        <div class="col-sm-10">
                            <select class="form-control" name="userId" id="userId">
                                {% for user in users | sortbyfield('name') %}
                                    <option value="{{ user.id }}">{{ user.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group visibility-helper operator" data-visible-on="operator user external">
                        <label for="operatorId" class="col-sm-2 control-label">Operator</label>
                        <div class="col-sm-10">
                            <select class="form-control" name="operatorId" id="operatorId">
                                <option></option>
                                {% for user in users | sortbyfield('name') %}
                                    <option value="{{ user.id }}">{{ user.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="comment" class="col-sm-2 control-label">Kommentar</label>
                        <div class="col-sm-10">
                            <textarea name="comment" id="comment" placeholder="Optional" class="form-control"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="chargeAutomatically" value="1" checked>
                                    <a href="{{ strichliste }}" target="_blank">Laserminuten</a> automatisch buchen
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group charge">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success">Go for it!</button>
                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(function() {
            var $chargeButton = $('.charge .btn');
            var $checkboxes = $('.laser-operation input[type=checkbox]');
            var $durationSum = $('.duration-sum strong');
            var $visibilityHelper = $('.visibility-helper');

            function calculateLaserDurationSum() {
                var sum = 0;

                $checkboxes
                    .filter(':checked')
                    .each(function() {
                        sum += $(this).data('duration');
                    });

                return sum;
            }

            function formatDuration(seconds) {
                var parts = [];

                var hours = parseInt(seconds / 3600, 10);
                var minutes = parseInt(seconds / 60, 10);
                seconds = seconds % 60;

                if (hours) {
                    parts.push(hours + 'h');
                }

                if (minutes) {
                    parts.push(minutes + 'm');
                }

                if (seconds) {
                    parts.push(seconds + 's');
                }

                return parts.join(' ');
            }

            function setFormButtonStatus(disable) {
                $chargeButton
                    .toggleClass('disabled btn-default', disable)
                    .toggleClass('btn-success', !disable);
            }

            $checkboxes.change(function() {
                var sum = calculateLaserDurationSum();
                var result = formatDuration(sum) || '–';

                setFormButtonStatus((sum == 0));
                $durationSum.text(result);
            });


            $('input[name=mode]').change(function() {
                var mode = $(this).val();

                $visibilityHelper
                        .addClass('hidden')
                        .each(function() {
                            if($(this).data('visible-on').indexOf(mode) !== -1) {
                                $(this).removeClass('hidden');
                            }
                        });
            });


            $checkboxes.change();
        });
    </script>
{% endblock %}